:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa el 100% del contenedor main */
  width: 100%;
  overflow: hidden; /* Evita que el componente completo scrollee */
}

/* El contenedor interno debe ser un flex que respete los límites */
.flex-1 {
  min-height: 0; /* Esto permite que el contenedor se encoja si es necesario */
}

/* Personalizar el scroll para que no ocupe espacio visual */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4ecca3;
  border-radius: 10px;
}